@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "custom-test";
  src: url("../../public/fonts/CH_SB_SC_WithoutQ_Kerned_01.otf");
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: Quicksand;
  color: #333333;
  background-color: #ffffff;
}

.topic-tag {
  transition: background-color 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.topic-tag:hover {
  filter: brightness(75%);
}
