.article-card-outer {
  max-width: 100%;
  aspect-ratio: 1/1;
  min-width: 300px;
  border: 1px solid #cccccc;
  background: #f8f8ff;
  border-radius: 5px;
  padding: 0 1.25rem 1.25rem;
  transition: transform 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.article-card-outer.visited {
  background: #f8f8ff;
}

.article-card-outer.link {
  background: #f8f8ff;
}

.article-card-outer:hover {
  transform: scale(1.02);
  background: #f8f8ff;
}

.article-card-outer.active {
  background: #f8f8ff;
}

.article-card-content {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.article-card-authorDate {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #9f9f9f;
  height: 18px;
  overflow: hidden;
  padding-bottom: 1.25rem;
}

.article-card-img {
  object-fit: cover;
}

.article-card-top-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.article-card-articleSignifier {
  font-family: Quicksand;
  font-size: 10px;
  color: #878787;
  display: flex;
  padding: 0;
  margin: 0;
}

.article-card-middle-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.article-card-articleTitleContent {
  margin-bottom: 0;
  margin-top: 0;
  top: -1.4em;
  position: relative;
}

.article-card-articleTitle {
  color: black;
  text-align: start;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.2em;
  font-weight: 700;
  font-size: 25px;
  font-family: "Alegreya Sans SC" !important;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.article-card-articleTitle:hover {
  color: black;
  text-decoration: none;
  background-color: transparent;
  opacity: 1;
}

.article-card-articleSubtitle {
  color: black;
  font-family: Quicksand;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  padding-top: calc(1.25rem - 1em);
  max-height: calc();
}
