/* components/article/article.module.css */

.custom_textarea {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  width: 100%;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom_textarea::placeholder {
  color: #999;
}

.custom_textarea:focus {
  border-color: #013220;
  box-shadow: 0 0 5px rgba(8, 114, 102, 0.5);
}
